@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Maze&display=swap');
/*main font imports*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Rubik+Maze&display=swap');
/*font-family: 'Poppins', sans-serif;
font-family: 'Rubik Maze', cursive;
*/

*, *::after, *::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

:root{
  --color-black:  #000;
  --color-white: #fff;
  --color-primary: #ffbd39;
  --color-white-light: f8f9f9;
  --color-black-light: #343940;
  --padding-side-match: 8rem;
}

body{
  font-family: Poppins;
  /*font-family: 'Rubik Maze', cursive;*/
  font-size: 1.5rem;
  color: var(--color-white);
  background-color: var(--color-black);
}

.title-box{
  text-align: center;
  position: relative;
  margin-bottom: 8rem;
}

.title__title-main{
  font-size: 4rem;
  text-transform: capitalize;
}

.title__title-bg{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -20%);
  font-size: 8rem;
  text-transform: capitalize;
  color: #333;
  color: var(--color-black-light);
  z-index: -1;
  letter-spacing: 2px;
}
/*end of the basic reseting*/

.header{
  display: flex;
  align-items: center;
  padding: 0 var(--padding-side-match);
  /*background-color: var(--color-black-light);*/
}

.header__logo, .header__logo:visited{
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
  font-family: 'Rubik Maze', cursive;
  color: var(--color-primary);
  margin-right: 20rem;
}

.header__nav--list{
  display: flex;
  align-items: center;
  list-style: none;
}

.header__nav--list-item{
  padding: 1.5rem 2rem
}

.header__nav--list-item a, .header__nav--list-item a:visited{
  display: inline-block;
  text-decoration: none;
  color: var(--color-white-light);
  text-transform: capitalize;
  font-weight: 500;
  position: relative;
  transition: all .4s ease;
}

.header__nav--list-item a::after{
  content: '';
  width: 60%;
  height: 3px;
  position: absolute;
  bottom: -.5rem;
  left: 0;
  transform: translateX(40%);
  background-color: currentColor;
  display: none;
  transition: all .4s ease;
}

.header__nav--list-item:hover.header__nav--list-item a{
  color: var(--color-primary);
}

.header__nav--list-item:hover.header__nav--list-item a::after{
  display: inline-block;
}
/*end of the header stylings*/

/*Home stylings*/
.home{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem var(--padding-side-match);
  /*border: 1px solid green;*/
}

.home__flex{
  width: 48%;
}

.home__textbox{
  /*border: 1px solid red;*/
  margin-right: auto;
}

.home__textbox--txt-main{
  font-size: 5rem;
}

.home__textbox--txt-small{
  text-transform: uppercase;
  color: var(--color-primary);
  font-weight: 600;
  letter-spacing: 2px;
}

.home__textbox--txt-main span{
  color: var(--color-primary);
}

.home__textbox--links{
  display: flex;
  align-items: center;
  margin-top: 4rem;
}

.home__textbox--links>*:not(:last-child){
  margin-right: 3rem;
}

.home__textbox--link, .home__textbox--link:visited{
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 1rem 2rem;
  background-color: var(--color-primary);
  color: var(--color-white);
  color: #000;
  width: max-content;
  font-weight: 500;
  text-transform: capitalize;
  border-radius: 100px;
  position: relative;
  overflow: hidden;
}

.home__textbox--link svg{
  --size: 2rem;
  width: var(--size);
  height: var(--size);
  fill: var(--color-white);
  fill: currentColor;
  margin-right: 5px;
}

.home__textbox--link::after, .home__textbox--link::before{
  content: '';
  width: 2px;
  height: 100%;
  background-color: var(--color-black);
  position: absolute;
  top: 0;
  transition: all .5s ease;
}

.home__textbox--link::after{
  right: -5px;
}

.home__textbox--link::before{
  left: -5px;
}

.home__textbox--link:hover.home__textbox--link::after{
  transform: translateX(-10000%);
}

.home__textbox--link:hover.home__textbox--link::before{
  transform: translateX(10000%);
}

.home__image{
  /*border: 1px solid orangered;*/
  display: flex;
  justify-content: center;
  align-items: center;
}
/*end of the home stylings*/


/* the about section */
.about-section{
  width: 80vw;
  margin: 2rem auto;
}

.about__container{
  display: flex;
}

.about__container >*{
  /* border: 2px solid green; */
  width: 50%;
}

.about__container-left--grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
}

.about__container--image{
  width: 100%;
  border-radius: 4px;
  box-shadow: 1rem  1rem 3px #333;
  transition: all .5s ease;
}

.about__container--image:hover{
  transform: scale(0.9);
  box-shadow: 0  0 3px #333;
}

.about__container--right{
  padding: 2rem 5rem;
}

.about__container--cover{
  position: relative;
}

.about__abs{
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  /* display: none; */
  opacity: 0;
  /* transition: all .5s ease-in-out; */
}

.show__about__abs{
  /* display: block; */
  opacity: 1;
}

.about__container--buttons{
  margin-bottom: 2rem;
}

.about__container--button{
  border: none;
  outline: none;
  padding: 1.5rem 2.5rem;
  background-color: var(--color-primary);
  margin-right: .4rem;
  font-size: 1.7rem;
  font-weight: 600;
  text-transform: capitalize;
  color: #222;
  border-radius: 3px;
  cursor: pointer;
  color: #fff;
}

.about--text{
  text-align: justify;
}

.about__container--tools{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  gap: 4rem;
}

.about__icon{
  --size: 6rem;
  width: var(--size);
  height: var(--size);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primary);
  border-radius: 50%;
}

.about__icon svg{
  --size: 4rem;
  width: var(--size);
  height: var(--size);
  fill: #111;
}
/* end of the about section */