@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Maze&display=swap");
/*main font imports*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Rubik+Maze&display=swap");
/*font-family: 'Poppins', sans-serif;
font-family: 'Rubik Maze', cursive;
*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --color-black: #000;
  --color-white: #fff;
  --color-primary: #ffbd39;
  --color-white-light: f8f9f9;
  --color-black-light: #343940;
  --padding-side-match: 8rem;
}

body {
  /* font-family: Poppins; */
  /*font-family: 'Rubik Maze', cursive;*/
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  color: var(--color-white);
  background-color: var(--color-black);
}

.title-box {
  text-align: center;
  position: relative;
  margin-bottom: 8rem;
}

.title__title-main {
  font-size: 4rem;
  text-transform: capitalize;
}

.title__title-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -20%);
  font-size: 8rem;
  text-transform: capitalize;
  color: var(--color-black-light);
  color: #111;
  z-index: -1;
  letter-spacing: 2px;
}
/*end of the basic reseting*/

.header {
  display: flex;
  align-items: center;
  padding: 0 var(--padding-side-match);
  /*background-color: var(--color-black-light);*/
}

.header__logo,
.header__logo:visited {
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
  font-family: "Rubik Maze", cursive;
  color: var(--color-primary);
  margin-right: auto;
}

.header__nav--list {
  display: flex;
  align-items: center;
  list-style: none;
}

.header__nav--list-item {
  padding: 1.5rem 2rem;
}

.header__nav--list-item a,
.header__nav--list-item a:visited {
  display: inline-block;
  text-decoration: none;
  color: var(--color-white-light);
  text-transform: capitalize;
  font-weight: 500;
  position: relative;
  transition: all 0.4s ease;
}

.header__nav--list-item a::after {
  content: "";
  width: 60%;
  height: 3px;
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  transform: translateX(40%);
  background-color: currentColor;
  display: none;
  transition: all 0.4s ease;
}

.header__nav--list-item:hover.header__nav--list-item a {
  color: var(--color-primary);
}

.header__nav--list-item:hover.header__nav--list-item a::after {
  display: inline-block;
}
/*end of the header stylings*/

/*Home stylings*/
.home {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem var(--padding-side-match);
  /*border: 1px solid green;*/
}

.home__flex {
  width: 48%;
}

.home__textbox {
  /*border: 1px solid red;*/
  margin-right: auto;
}

.home__textbox--txt-main {
  font-size: 5rem;
}

.home__textbox--txt-small {
  text-transform: uppercase;
  color: var(--color-primary);
  font-weight: 600;
  letter-spacing: 2px;
}

.home__textbox--txt-main span {
  color: var(--color-primary);
}

.home__textbox--links {
  display: flex;
  align-items: center;
  margin-top: 4rem;
}

.home__textbox--links > *:not(:last-child) {
  margin-right: 3rem;
}

.home__textbox--link,
.home__textbox--link:visited {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 1rem 2rem;
  background-color: var(--color-primary);
  color: var(--color-white);
  color: #000;
  width: max-content;
  font-weight: 500;
  text-transform: capitalize;
  border-radius: 100px;
  position: relative;
  overflow: hidden;
}

.home__textbox--link svg {
  --size: 2rem;
  width: var(--size);
  height: var(--size);
  fill: var(--color-white);
  fill: currentColor;
  margin-right: 5px;
}

.home__textbox--link::after,
.home__textbox--link::before {
  content: "";
  width: 2px;
  height: 100%;
  background-color: var(--color-black);
  position: absolute;
  top: 0;
  transition: all 0.5s ease;
}

.home__textbox--link::after {
  right: -15px;
}

.home__textbox--link::before {
  left: -15px;
}

.home__textbox--link:hover.home__textbox--link::after {
  transform: translateX(-10000%);
}

.home__textbox--link:hover.home__textbox--link::before {
  transform: translateX(10000%);
}

.home__image {
  /*border: 1px solid orangered;*/
  display: flex;
  justify-content: center;
  align-items: center;
}
/*end of the home stylings*/

/* the about section */
.about-section {
  width: 80vw;
  margin: 2rem auto;
  margin-top: 10rem;
}

.about__container {
  display: flex;
}

.about__container > * {
  /* border: 2px solid green; */
  width: 50%;
}

.about__container-left--grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
}

.about__container--image {
  width: 100%;
  border-radius: 4px;
  box-shadow: 1rem 1rem 3px #333;
  transition: all 0.5s ease;
}

.about__container--image:hover {
  transform: scale(0.9);
  box-shadow: 0 0 3px #333;
}

.about__container--right {
  padding: 2rem 5rem;
}

.about__container--cover {
  position: relative;
}

.about__abs {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  /* display: none; */
  opacity: 0;
  /* transition: all .5s ease-in-out; */
}

.show__about__abs {
  /* display: block; */
  opacity: 1;
}

.about__container--buttons {
  margin-bottom: 2rem;
}

.about__container--button {
  border: none;
  outline: none;
  padding: 1.5rem 2.5rem;
  background-color: var(--color-primary);
  margin-right: 0.4rem;
  font-size: 1.7rem;
  font-weight: 600;
  text-transform: capitalize;
  color: #222;
  border-radius: 3px;
  cursor: pointer;
  color: #fff;
}

.about--text {
  text-align: justify;
}

.about__container--tools {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  gap: 4rem;
}

.about__icon {
  --size: 6rem;
  width: var(--size);
  height: var(--size);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primary);
  border-radius: 50%;
}

.about__icon svg {
  --size: 4rem;
  width: var(--size);
  height: var(--size);
  fill: #111;
}
/* end of the about section */

/* beginning of the project section */
.project-section {
  margin-top: 10rem;
}

.projects__container {
  padding: 5rem 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  gap: 2rem;
  justify-items: center;
}

.project-link-wrapper,
.project-link-wrapper:visited {
  text-decoration: none;
  color: var(--color-white);
}

.project {
  width: 40rem;
  /* border: 1px solid red; */
  background-color: #343940;
  border-radius: 3px;
  overflow: hidden;
}

.project__image {
  height: 30rem;
  position: relative;
}

.project__swipe-in-details {
  position: absolute;
  top: 0;
  right: -120%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  transition: all 0.3s ease-in;
}

.project__title--black {
  color: var(--color-black-light);
}

.project__links--top {
  display: flex;
  justify-content: center;
}

.project__links--top > :last-child {
  margin-right: 0;
}

.project:hover .project__swipe-in-details {
  right: 0;
}

.project__image--img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.project__body {
  padding: 1.5rem;
}

.project__title {
  font-size: 2.5rem;
  text-transform: uppercase;
  text-align: center;
  font-family: "Rubik Maze", sans-serif;
  margin-bottom: 1rem;
}

.project__body--description {
  margin-bottom: 1.5rem;
}

.project__description {
  font-size: 1.8rem;
  text-align: justify;
}

.project__body--links {
  display: flex;
  justify-content: center;
  /* border: 2px solid white;
  padding: 1rem; */
}

.project__link {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--color-primary);
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #343940;
  margin-right: 1rem;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.project__link::after {
  content: "";
  position: absolute;
  top: 0;
  left: -80rem;
  width: 50%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  transform: skewX(-15deg);
  transition: all 3s ease;
}

.project__link:hover.project__link::after {
  transform: skewX(-15deg) translateX(10000%);
}

.project__link svg {
  --size: 2.5rem;
  width: var(--size);
  height: var(--size);
  fill: currentColor;
  margin-right: 1rem;
}
/* ending of the project section */

/* skills section */
.skills-section {
  margin-top: 8rem;
}

.skills-container {
  padding: 3rem 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  justify-items: center;
  gap: 2rem;
  row-gap: 3rem;
}

.skill {
  width: 35rem;
  background-color: var(--color-black-light);
  background-color: #222;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  border-radius: 3px;
  box-shadow: 0 0 5px #ccc;
  position: relative;
  transition: all 0.5s ease;
  cursor: pointer;
}

.skill::after,
.skill::before {
  content: "";
  position: absolute;
  top: 0;
  width: 0;
  height: 3px;
  background-color: var(--color-primary);
  transition: all 0.5s ease;
}

.skill::after {
  right: 0;
}

.skill::before {
  left: 0;
  transition: all 1s ease;
}

.skill:hover::after,
.skill:hover::before {
  width: 50%;
}

.skill:hover {
  background-color: #555;
}

.skill__skill-name {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3px;
  position: relative;
  margin-bottom: 2rem;
}

.skill__skill-name::after {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  right: 50%;
  height: 2px;
  width: 40%;
  transform: translateX(50%);
  background-color: var(--color-primary);
  border: 1px dashed;
}

.skill__tools {
  font-size: 1.5rem;
  font-weight: bold;
  font-style: italic;
}

.skill__image {
  --size: 15rem;
  width: var(--size);
  height: var(--size);
  transition: all 0.5s ease;
}

.skill:hover .skill__image {
  transform: scale(0.95);
}
/* end ofskills section */

/* timeline/resume section */
.resume-section {
  margin-top: 8rem;
}

.time-cards__container {
  padding: 2rem 8rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(55rem, 1fr));
  justify-items: center;
  gap: 2rem;
}

.time-card {
  width: 55rem;
  padding: 2rem;
  background-color: #222;
  border-radius: 3px;
  box-shadow: 0 0 1px;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.time-card__year {
  font-size: 3rem;
  text-transform: capitalize;
  color: var(--color-primary);
  margin-bottom: 1rem;
}

.time-card__working {
  font-size: 2.5rem;
  text-transform: capitalize;
  font-weight: 500;
  color: var(--color-white);
  word-spacing: 3px;
  letter-spacing: 2px;
  margin-bottom: 1rem;
}

.time-card__institution {
  text-transform: uppercase;
  color: #ccc;
  font-weight: bold;
  letter-spacing: 2.5px;
  margin-bottom: 2rem;
  position: relative;
  padding-left: 1rem;
}

.time-card__institution::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
  background-color: var(--color-primary);
  margin-right: 2rem;
  border-radius: 5px;
}

.time-card__description {
  text-align: justify;
  line-height: 1.8;
  letter-spacing: 1px;
}
/* endo of timeline/resume section */

/* Friends section */
.friends-section {
  padding: 2rem;
  margin: 5rem 0;
}

.friends--container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  gap: 2rem;
  justify-items: center;
  row-gap: 4rem;
}

.section-text {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 4rem;
}

.friend {
  width: 40rem;
  padding: 1.5rem;
  background-color: var(--color-black-light);
  border-radius: 5px;
  box-shadow: 0 0 5px #fff;
  position: relative;
  overflow: hidden;
}

.friend::after,
.friend::before {
  content: "";
  position: absolute;
  --size: 6rem;
  width: var(--size);
  height: var(--size);
  background-color: rgba(34, 34, 34, 0.541);
  z-index: 1;
}

.friend::before {
  bottom: 0;
  right: 0;
  border-radius: 50%;
  transform: translate(20%, 30%);
}

.friend::after {
  top: 0;
  left: 0;
  transform: translate(-20%, -30%);
}

.friend__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.friend__name {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  z-index: 3;
}

.friend__social > *:not(:last-child) {
  margin-right: 0.5rem;
}

.friend__social--link,
.friend__social--link:visited {
  --size: 5rem;
  width: var(--size);
  height: var(--size);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  text-decoration: none;
  background-color: var(--color-primary);
  border-radius: 50%;
}

.friend__social--link svg {
  --size: 3rem;
  width: var(--size);
  height: var(--size);
  fill: var(--color-black-light);
}

.friend__body {
  display: flex;
  align-items: center;
}

.friend__body--image {
  margin-right: 0.8rem;
}

.friend__body--image svg,
.friend__body--image--img {
  --size: 6rem;
  width: var(--size);
  height: var(--size);
  min-width: var(--size);
  max-width: var(--size);
  min-height: var(--size);
  max-height: var(--size);
}

.friend__description {
  font-size: 1.7rem;
  text-align: justify;
  font-weight: 500;
  z-index: 3;
}

.friend__body--image--img {
  border-radius: 50%;
}

.friend__body--image svg {
  fill: var(--color-white);
}
/* End of Friends section */

/* footer */
.footer {
  margin-bottom: 1.5rem;
  margin-top: 5rem;
  background-color: #111;
  padding: 2rem 3rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__text {
  font-size: 1.7rem;
  font-weight: 400;
  letter-spacing: 0.6px;
  /* margin-bottom: .5rem; */
}

.footer__text--link,
.footer__text--link:visited {
  text-decoration: none;
  color: #444;
  font-weight: 700;
  padding: 0.5rem;
  background-color: var(--color-primary);
  border-radius: 100px;
}

.character {
  font-size: 2.5rem;
  color: orangered;
}

.social {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.social__link,
.social__link:visited {
  padding: 1.5rem;
  background-color: var(--color-primary);
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.social__link svg {
  --size: 3rem;
  width: var(--size);
  height: var(--size);
  fill: var(--color-black-light);
}
/* end of footer */
