@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Maze&display=swap");
/*main font imports*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Rubik+Maze&display=swap");
/*font-family: 'Poppins', sans-serif;
font-family: 'Rubik Maze', cursive;
*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html,
body {
   overflow-x: hidden; 
}

:root {
  --color-black: #000;
  --color-white: #fff;
  --color-primary: #ffbd39;
  --color-white-light: f8f9f9;
  --color-black-light: #343940;
  --padding-side-match: 8rem;
}

body {
  /* font-family: Poppins; */
  /*font-family: 'Rubik Maze', cursive;*/
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  color: var(--color-white);
  background-color: var(--color-black);
}

.title-box {
  text-align: center;
  position: relative;
  margin-bottom: 8rem;
}

.title__title-main {
  font-size: 4rem;
  text-transform: capitalize;
}

.title__title-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -20%);
  font-size: 8rem;
  text-transform: capitalize;
  color: var(--color-black-light);
  color: #111;
  z-index: -1;
  letter-spacing: 2px;
}

@media screen and (max-width: 600px) {
  .title__title-bg {
    font-size: 5rem;
  }
}
/*end of the basic reseting*/

.header {
  display: flex;
  align-items: center;
  padding: 0 var(--padding-side-match);
  /*display: none;*/
  /*background-color: var(--color-black-light);*/
}

.header__logo,
.header__logo:visited {
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
  font-family: "Rubik Maze", cursive;
  color: var(--color-primary);
  margin-right: auto;
}

.header__nav--list {
  display: flex;
  align-items: center;
  list-style: none;
}

.header__nav--list-item {
  padding: 1.5rem 2rem;
}

.header__nav--list-item a,
.header__nav--list-item a:visited {
  display: inline-block;
  text-decoration: none;
  color: var(--color-white-light);
  text-transform: capitalize;
  font-weight: 500;
  position: relative;
  transition: all 0.4s ease;
}

.header__nav--list-item a::after {
  content: "";
  width: 60%;
  height: 3px;
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  transform: translateX(40%);
  background-color: currentColor;
  display: none;
  transition: all 0.4s ease;
}

.header__nav--list-item:hover.header__nav--list-item a {
  color: var(--color-primary);
}

.header__nav--list-item:hover.header__nav--list-item a::after {
  display: inline-block;
}
/*end of the header stylings*/

/*Home stylings*/
.home {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem var(--padding-side-match);
  /*border: 1px solid green;*/
}

.home__flex {
  width: 48%;
}

.home__textbox {
  margin-right: auto;
}

.home__textbox--txt-main {
  font-size: 5rem;
}

.home__textbox--txt-small {
  text-transform: uppercase;
  color: var(--color-primary);
  font-weight: 600;
  letter-spacing: 2px;
}

.home__textbox--txt-main span {
  color: var(--color-primary);
}

.home__textbox--links {
  display: flex;
  align-items: center;
  margin-top: 4rem;
}

.home__textbox--links > *:not(:last-child) {
  margin-right: 3rem;
}

.home__textbox--link,
.home__textbox--link:visited {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 1rem 2rem;
  background-color: var(--color-primary);
  color: var(--color-white);
  color: #000;
  width: max-content;
  font-weight: 500;
  text-transform: capitalize;
  border-radius: 100px;
  position: relative;
  overflow: hidden;
}

.home__textbox--link svg {
  --size: 2rem;
  width: var(--size);
  height: var(--size);
  fill: var(--color-white);
  fill: currentColor;
  margin-right: 5px;
}

.home__textbox--link::after,
.home__textbox--link::before {
  content: "";
  width: 2px;
  height: 100%;
  background-color: var(--color-black);
  position: absolute;
  top: 0;
  transition: all 0.5s ease;
}

.home__textbox--link::after {
  right: -15px;
}

.home__textbox--link::before {
  left: -15px;
}

.home__textbox--link:hover.home__textbox--link::after {
  transform: translateX(-10000%);
}

.home__textbox--link:hover.home__textbox--link::before {
  transform: translateX(10000%);
}

.home__image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hamburger{
  border: none;
  outline: none;
  z-index: 3000;
  --size: 4rem;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.hamburger >*:not(:last-child){
  margin-bottom: 5px;
}

.hamburger__line{
  width: 25px;
  height: 4px;
  background-color: var(--color-primary);
  background-color: var(--color-white);
  border-radius: 100px;
}

@media screen and (max-width: 600px) {
  .header{
    padding: 1rem;
    position: relative;
  }

  .header__nav{
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    background-color: #ccc;
    padding: 2rem 4rem;
    z-index: 1000;
    border-radius: 3px;
    transform: translateX(300px);
    transition: all .5s ease;
  }

  .nav__active{
    transform: translateX(0);
  }

  .header__nav--list{
    height: 100%;
    flex-direction: column;
    box-shadow: 2rem 2rem -2rem #fff;
  }

  .header__nav--list >*:not(:last-child){
    flex-direction: column;
    margin-bottom: auto;
    display: block;
    /*border: 2px solid red;*/
  }

  .header__nav--list-item a{
    color: #333!important;
  }

  .home {
    flex-direction: column;
    padding: 2rem 0.5rem;
  }

  .home__flex {
    width: 100%;
  }

  .home__textbox--txt-main {
    font-size: 4rem;
    text-align: center;
  }

  .home__textbox--txt-small {
    text-align: center;
  }

  .home__textbox--links {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .home__textbox--links > *:not(:last-child) {
    margin-right: 0;
  }

  .home__textbox--link {
    margin: 1rem auto !important;
  }

  .home__image img {
    height: 60vh;
    border-radius: 50%;
  }
}
/*end of the home stylings*/

/* the about section */
.about-section {
  width: 80vw;
  margin: 2rem auto;
  margin-top: 10rem;
}

.about__container {
  display: flex;
}

.about__container > * {
  /* border: 2px solid green; */
  width: 50%;
}

.about__container--image {
  width: 100%;
  border-radius: 4px;
  box-shadow: 1rem 1rem 3px #333;
  transition: all 0.5s ease;
}

.about__container--image:hover {
  transform: scale(0.9);
  box-shadow: 0 0 3px #333;
}

.about__container--right {
  padding: 2rem 5rem;
}

.about__container--cover {
  position: relative;
}

.about__abs {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  opacity: 0;
}

.show__about__abs {
  opacity: 1;
}

.about__container--buttons {
  margin-bottom: 2rem;
}

.about__container--button {
  border: none;
  outline: none;
  padding: 1.5rem 2.5rem;
  background-color: var(--color-primary);
  margin-right: 0.4rem;
  font-size: 1.7rem;
  font-weight: 600;
  text-transform: capitalize;
  color: #222;
  border-radius: 3px;
  cursor: pointer;
  color: #fff;
}

.about--text {
  text-align: justify;
}

.about__container--tools {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  gap: 4rem;
}

.about__icon {
  --size: 6rem;
  width: var(--size);
  height: var(--size);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primary);
  border-radius: 50%;
}

.about__icon svg {
  --size: 4rem;
  width: var(--size);
  height: var(--size);
  fill: #111;
}

@media screen and (max-width: 600px) {
  .about-section {
    width: 98vw;
  }

  .about__container {
    flex-direction: column;
    padding: 0.5rem;
  }

  .about__container > * {
    width: 100%;
  }

  .about__container--buttons {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }

  .about__container--right {
    padding: 1rem;
  }

  .about__container--tools {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
    gap: 2rem;
  }
}
/* end of the about section */

/* beginning of the project section */
.project-section {
  margin-top: 10rem;
}

.projects__container {
  padding: 5rem 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  gap: 2rem;
  justify-items: center;
}

.project-link-wrapper,
.project-link-wrapper:visited {
  text-decoration: none;
  color: var(--color-white);
}

.project {
  width: 40rem;
  background-color: #343940;
  border-radius: 3px;
  overflow: hidden;
}

.project__image {
  height: 30rem;
  position: relative;
}

.project__swipe-in-details {
  position: absolute;
  top: 0;
  right: -120%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  transition: all 0.3s ease-in;
}

.project__title--black {
  color: var(--color-black-light);
}

.project__links--top {
  display: flex;
  justify-content: center;
}

.project__links--top > :last-child {
  margin-right: 0;
}

.project:hover .project__swipe-in-details {
  right: 0;
}

.project__image--img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.project__body {
  padding: 1.5rem;
}

.project__title {
  font-size: 2.5rem;
  text-transform: uppercase;
  text-align: center;
  font-family: "Rubik Maze", sans-serif;
  margin-bottom: 1rem;
}

.project__body--description {
  margin-bottom: 1.5rem;
}

.project__description {
  font-size: 1.8rem;
  text-align: justify;
}

.project__body--links {
  display: flex;
  justify-content: center;
}

.project__link {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--color-primary);
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #343940;
  margin-right: 1rem;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.project__link::after {
  content: "";
  position: absolute;
  top: 0;
  left: -80rem;
  width: 50%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  transform: skewX(-15deg);
  transition: all 3s ease;
}

.project__link:hover.project__link::after {
  transform: skewX(-15deg) translateX(10000%);
}

.project__link svg {
  --size: 2.5rem;
  width: var(--size);
  height: var(--size);
  fill: currentColor;
  margin-right: 1rem;
}

@media screen and (max-width: 600px) {
  .projects__container {
    padding: 5rem 1rem;
    width: 100vw;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .project {
    width: 100% !important;
    max-width: 100%;
    min-width: 100%;
  }

  .project__image {
    height: 20rem;
  }

  .project__body {
    padding: 0.5rem;
  }
}
/* ending of the project section */

/* skills section */
.skills-section {
  margin-top: 8rem;
}

.skills-container {
  padding: 3rem 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  justify-items: center;
  gap: 2rem;
  row-gap: 3rem;
}

.skill {
  width: 35rem;
  background-color: var(--color-black-light);
  background-color: #222;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  border-radius: 3px;
  box-shadow: 0 0 5px #ccc;
  position: relative;
  transition: all 0.5s ease;
  cursor: pointer;
}

.skill::after,
.skill::before {
  content: "";
  position: absolute;
  top: 0;
  width: 0;
  height: 3px;
  background-color: var(--color-primary);
  transition: all 0.5s ease;
}

.skill::after {
  right: 0;
}

.skill::before {
  left: 0;
  transition: all 1s ease;
}

.skill:hover::after,
.skill:hover::before {
  width: 50%;
}

.skill:hover {
  background-color: #555;
}

.skill__skill-name {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3px;
  position: relative;
  margin-bottom: 2rem;
  text-align: center;
}

.skill__skill-name::after {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  right: 50%;
  height: 2px;
  width: 40%;
  transform: translateX(50%);
  background-color: var(--color-primary);
  border: 1px dashed;
}

.skill__tools {
  font-size: 1.5rem;
  font-weight: bold;
  font-style: italic;
  text-align: center;
}

.skill__image {
  --size: 15rem;
  width: var(--size);
  height: var(--size);
  transition: all 0.5s ease;
}

.skill:hover .skill__image {
  transform: scale(0.95);
}

@media screen and (max-width: 600px) {
  .skills-container {
    padding: 1.5rem;
    column-gap: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .skill {
    width: 100%;
  }
}
/* end ofskills section */

/* timeline/resume section */
.resume-section {
  margin-top: 8rem;
}

.time-cards__container {
  padding: 2rem 8rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(55rem, 1fr));
  justify-items: center;
  gap: 2rem;
}

.time-card {
  width: 55rem;
  padding: 2rem;
  background-color: #222;
  border-radius: 3px;
  box-shadow: 0 0 1px;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.time-card__year {
  font-size: 3rem;
  text-transform: capitalize;
  color: var(--color-primary);
  margin-bottom: 1rem;
}

.time-card__working {
  font-size: 2.5rem;
  text-transform: capitalize;
  font-weight: 500;
  color: var(--color-white);
  word-spacing: 3px;
  letter-spacing: 2px;
  margin-bottom: 1rem;
}

.time-card__institution {
  text-transform: uppercase;
  color: #ccc;
  font-weight: bold;
  letter-spacing: 2.5px;
  margin-bottom: 2rem;
  position: relative;
  padding-left: 1rem;
}

.time-card__institution::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
  background-color: var(--color-primary);
  margin-right: 2rem;
  border-radius: 5px;
}

.time-card__description {
  text-align: justify;
  line-height: 1.8;
  letter-spacing: 1px;
}

@media screen and (max-width: 600px) {
  .time-cards__container {
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .time-card {
    width: 100%;
  }

  .time-card__year {
    font-size: 2rem;
  }
}
/* end of timeline/resume section */

/* Repos and connection section */
.repos-connect-section {
  margin: 3rem 0;
  padding: 1rem 5rem;

  display: flex;
}

.repos {
  width: 60%;
  margin-right: 5%;
}

.section__title-sub {
  font-size: 2.5rem;
  font-weight: 500;
  text-transform: capitalize;
  text-align: center;
  text-decoration: underline;
  letter-spacing: 2px;
}

.repos__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  row-gap: 5rem;
  margin-top: 6rem;
}

.repo {
  background-color: var(--color-black-light);
  width: 30rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 0 0 5px var(--color-primary);
  position: relative;
}

.repo::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #ffbd3925;
  border: 2px solid var(--color-primary);
  /* background-color: var(--color-black-light); */
  clip-path: polygon(0 0, 100% 0, 100% 50%, 50% 50%, 0 100%, 0 0);
  z-index: 1;
  transition: all 0.5s ease;
}

.repo__icon {
  --size: 4rem;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  background-color: var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  box-sizing: content-box;
  border: 3px solid var(--color-white);
  z-index: 5;
}

.repo__icon svg {
  --size: 3rem;
  width: var(--size);
  height: var(--size);
}

.repo__name {
  font-size: 2rem;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1rem;
  z-index: 2;
  position: relative;
}

.repo__name::after {
  content: "";
  position: absolute;
  bottom: -0.3rem;
  right: 50%;
  width: 60%;
  height: 2px;
  background-color: var(--color-white);
  transform: translateX(50%);
  transition: all 0.5s ease;
}

.repo:hover .repo__name::after {
  width: 100%;
  background-color: var(--color-primary);
}

.repo__description {
  text-align: justify;
  font-weight: 400;
  margin-bottom: 1.5rem;
  z-index: 2;
}

.repo__link,
.repo__link:visited {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 1.5rem;
  background-color: var(--color-primary);
  color: #222;
  font-weight: bold;
  border-radius: 100px;
  text-transform: uppercase;
  letter-spacing: 3px;
  z-index: 2;
}

.repo__link svg {
  --size: 3rem;
  width: var(--size);
  height: var(--size);
  fill: currentColor;
  margin-left: 1.5rem;
}

.section-connect-image {
  margin: 5rem auto;
  margin-bottom: 1rem;
}

.social {
  display: flex;
  align-items: center;
  padding: 1.5rem;
  background-color: #111;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.social svg {
  --size: 4rem;
  width: var(--size);
  height: var(-size);
  fill: var(--color-white);
  margin-right: 2rem;
}

.social-__text {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 3px;
}

@media screen and (max-width: 600px) {
  .repos-connect-section {
    padding: 1rem;
    flex-direction: column;
  }

  .repos {
    width: 100%;
    margin-bottom: 5rem;
  }

  .repos__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: .5rem;
  }

  .repo {
    width: 100%;
  }

  .repo__icon {
    display: none;
  }

  .social svg{
    --size: 3rem;
  }

  .social{
    overflow: scroll;
    width: 90vw;
    margin: 1rem auto;
  }

  .social::webkit-scrollbar-track{
    background-color: #333;
  }

  .section-connect-image{
    width: 90vw;
    margin: 2rem auto;
  }
}
/* End of Repos and connection section */

/* Friends section */
.friends-section {
  padding: 2rem;
  margin: 5rem 0;
}

.friends--container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  gap: 2rem;
  justify-items: center;
  row-gap: 4rem;
}

.section-text {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 4rem;
}

.friend {
  width: 40rem;
  padding: 1.5rem;
  background-color: var(--color-black-light);
  border-radius: 5px;
  box-shadow: 0 0 5px #fff;
  position: relative;
  overflow: hidden;
}

.friend::after,
.friend::before {
  content: "";
  position: absolute;
  --size: 6rem;
  width: var(--size);
  height: var(--size);
  background-color: rgba(34, 34, 34, 0.541);
  z-index: 1;
}

.friend::before {
  bottom: 0;
  right: 0;
  border-radius: 50%;
  transform: translate(20%, 30%);
}

.friend::after {
  top: 0;
  left: 0;
  transform: translate(-20%, -30%);
}

.friend__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.friend__name {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  z-index: 3;
}

.friend__social > *:not(:last-child) {
  margin-right: 0.5rem;
}

.friend__social--link,
.friend__social--link:visited {
  --size: 5rem;
  width: var(--size);
  height: var(--size);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  text-decoration: none;
  background-color: var(--color-primary);
  border-radius: 50%;
}

.friend__social--link svg {
  --size: 3rem;
  width: var(--size);
  height: var(--size);
  fill: var(--color-black-light);
}

.friend__body {
  display: flex;
  align-items: center;
}

.friend__body--image {
  margin-right: 0.8rem;
}

.friend__body--image svg,
.friend__body--image--img {
  --size: 6rem;
  width: var(--size);
  height: var(--size);
  min-width: var(--size);
  max-width: var(--size);
  min-height: var(--size);
  max-height: var(--size);
}

.friend__description {
  font-size: 1.7rem;
  text-align: justify;
  font-weight: 500;
  z-index: 3;
}

.friend__body--image--img {
  border-radius: 50%;
}

.friend__body--image svg {
  fill: var(--color-white);
}

@media screen and (max-width: 600px) {
  .friends--container {
    padding: 0.5rem;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
  }

  .friend {
    width: 100%;
  }

  .friend__header{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .friend__name{
    text-align: center;
    margin-bottom: 1rem;

  }

  .friend__description{
    text-align: left;
  }
}
/* End of Friends section */

/* footer */
.footer {
  margin-bottom: 1.5rem;
  margin-top: 5rem;
  background-color: #111;
  padding: 2rem 3rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__text {
  font-size: 1.7rem;
  font-weight: 400;
  letter-spacing: 0.6px;
  /* margin-bottom: .5rem; */
}

.footer__text--link,
.footer__text--link:visited {
  text-decoration: none;
  color: #444;
  font-weight: 700;
  padding: 0.5rem;
  background-color: var(--color-primary);
  border-radius: 100px;
}

.character {
  font-size: 2.5rem;
  color: orangered;
}

.footer-social {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.social__link,
.social__link:visited {
  padding: 1.5rem;
  background-color: var(--color-primary);
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.social__link svg {
  --size: 3rem;
  width: var(--size);
  height: var(--size);
  fill: var(--color-black-light);
}
/* end of footer */
